<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">

            <div><h5>Tags: </h5></div>
            <div ng-repeat="tag in tags">
                <div >
                    <h6 style="color:#0000FF">{{tag}}
                    </h6>
                </div>

            </div>
            <h6 style="color: #FF0000">
                Created:{{createDate | date:'dd-M-yyyy H:mm'}}
                Modified:{{updateDate | date:'dd-M-yyyy H:mm'}}
            </h6>
            <div class="detailcontents ">
                <div ng-bind-html="content"></div>
            </div>
        </div>
    </div>
</div>